// COLORS
$logo-color: rgb(255, 99, 71);
$nav-items-color: rgba(255, 255, 255, 0.8);
$nav-hover-color: tomato;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 0rem;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;