.header-container {
  background: linear-gradient(to right, #392f00, #ff5500);
}

.intro-container {
  background-color: #e0e4cc;
  padding-bottom: 2rem;
}

.features-container {
  background-color: rgb(211, 208, 208);
  padding: 4rem 0;
}

.projects-container {
  background-color: rgba(#000, 0.1);
  padding: 4rem 0;
}

.footer-container {
  background: linear-gradient(to right, #009a7f, #f93c3c);
}

.copyright {
  background: linear-gradient(to right, #ffc844, #ff72d6);
}